/* Write your CSS here */
.bg {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #2b2c49, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
